
<% @recipes.each do |recipe| %> </label>
   <p> <%= recipe.name %></p>
   <p> <%= recipe.ingredients %></p>
   <p> <%= recipe.cook_time %></p>
   <a href="/recipes/<%=recipe.id %>"</a>
    <% end %>


